body {background-color: #b2e0e6;}
.container {}
.footer {clear: both; text-align: center;}
.music {clear: both; text-align: center; width: 600px; margin: 20px auto;}
.music iframe {float: left;}
.music-comment {float: right;}
